<form class="form-inline my-2 my-md-0" action="{{ path(pathController) }}" method="post" id = "actionForm">
    {% block input %}
    {% endblock %}
</form>

<button type="submit" form="actionForm" value="Submit">{% block button %}{% endblock %}</button>

