<form class="form-inline my-2 my-md-0 actionForm" action="{{ path(pathController) }}" method="post" id = {{ "form_"~pathController }}>
    {% block input %}
    {% endblock %}
</form>

<button type="submit" form="{{ "form_"~pathController }}" value="Submit">{% block button %}{% endblock %}</button>

