<form class="form-inline my-2 my-md-0 actionForm" action="{{ path(pathController) }}" method="post">
    {% block input %}
    {% endblock %}
</form>

<button type="submit" form="actionForm" value="Submit">{% block button %}{% endblock %}</button>

