{% extends 'base.html.twig' %}

{% block title %}{{ title }}!{% endblock %}

{% block menu %}
    {{ include('layouts/menu_admin.html.twig')}}
{% endblock %}

{% block content %}
    <h1>Bienvenue sur la page d'administration</h1>
{% endblock %}

{% block footer %}
{% endblock %}
