{% extends 'layouts/authentification.html.twig'%}


{% block home__pannel__right %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Vous êtes Connecté·e !</h4>
        </div>
    {% endif %}
    <form class="" action="{{ path('login') }}" method="post">
        <input type="text" class="form-control" id="username" placeholder="Votre @" name="_username">
        <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="_password">
        <button type="submit" class="btn btn-primary">Se Connecter</button>

        <input type="hidden" name="_target_path" value="/" />
    </form>
    <a href="{{ path('register') }}"class="btn btn-default">S'inscrire</a>
{% endblock %}
