{% extends 'base.html.twig' %}

{% block body %}
<main role="main" class="home__main">
    {% block h1 %}
        <h1 class="home__title">
            <span class="home__title-1">Bienvenue su</span>
            <span class="home__title-2">r PyouPyou !</span>
        </h1>
    {% endblock %}

        <div class="side-pannel home__pannel-left">
            {% block home__pannel__left %}
                <span><i class="fas fa-users"></i><p>Travailler en équipes</p></span>
                <span><i class="fas fa-comments"></i><p>Faciliter l'échange entre collègues</p></span>
                <span><i class="fas fa-search"></i><p>Retrouver facilement vos ressources</p></span>
        </div>
        <div class="side-pannel home__pannel-right">
            <h2 class="auth__title">{{ title }}</h2>
                {% block home__pannel__right %}{% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <p>© 2018 - PyouPyou, un projet étudiant dans le cadre du cours de Framework PHP (Symfony) avec Gabriel Pillet à Lyon Ynov Campus - Développé par Antinéa GOUTARD && Julien SEIXAS</p>
        </footer>
    {% endblock %}
</main>
{% endblock %}
