<div class="shadow pz bpi afo">
    <div class="qa avz">
        <a href="{{ path('homepage') }}">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/100x100" alt="">
        </a>
    </div>
</div>
{% set adminPages = {"Utilisateurs" : "user",
    "Projets" : "project",
    "Incubateurs" : "incubator",
    "Pyoupyous" : "pyoupyou"} %}

{% for key, page in adminPages %}
    <div class="shadow pz vp vy afo">
        <div class="qa">
            <h6 class="afh"><a class="boa" href="{{ path(page ~ '_index')}}">{{ key }}</a></h6>
        </div>
    </div>
{% endfor %}
