<form method="post" action="{{ path('incubator_delete', {'id': incubator.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ incubator.id) }}">
    <button class="btn">Delete</button>
</form>
