{% extends 'security/admin.html.twig'%}

{% block title %}Edit Incubator{% endblock %}

{% block content %}
    <h1>Edit Incubator</h1>

    {{ include('admin/incubator/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('incubator_index') }}">back to list</a>

    {{ include('admin/incubator/_delete_form.html.twig') }}
{% endblock %}
