{% extends 'security/admin.html.twig'%}

{% block title %}New Incubator{% endblock %}

{% block content %}
    <h1>Create new Incubator</h1>

    {{ include('incubator/_form.html.twig') }}

    <a href="{{ path('incubator_index') }}">back to list</a>
{% endblock %}
