<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/dist{{ asset('main.css') }}">
        <title>{% block title %}{{ title ~ ' - PyouPyou' }}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/custom_style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}
        <div class="by">
            <div class="dp">
                {% block header %}
                    <div class="fj hidden" id="top"></div>
                    <header class="fj menu">
                        {% block menu %}
                        {{ include('layouts/menu.html.twig')}}
                        {% endblock %}
                    </header>
                {% endblock %}
                {% block main %}
                    <main role="main" class="fm">
                        {% block content %}{% endblock %}
                    </main>
                {% endblock %}
            </div>
        </div>

        {% block footer %}
            <footer class="footer">
                <p class="footer__desc">© 2018 - PyouPyou, un projet étudiant dans le cadre du cours de Framework PHP (Symfony) avec Gabriel Pillet à Lyon Ynov Campus <br> Développé par Antinéa GOUTARD && Julien SEIXAS</p>
                <a href="#top" class="footer__return"><i class="fas fa-arrow-up fa-2x"></i></a>
            </footer>
        {% endblock %}


        {% block javascripts %}{% endblock %}
    {% endblock %}
    </body>
</html>
