{% extends 'base.html.twig' %}


{% block header %}{% endblock %}


{% block main %}
<main role="main" class="home__main">
    {% block h1 %}
        <h1 class="home__title">
            <span class="home__title-1">Bienvenue su</span>
            <span class="home__title-2">r PyouPyou !</span>
        </h1>
    {% endblock %}

    {% block body %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Vous êtes Connecté·e</h4>
            </div>
        {% else %}
        <div class="side-pannel home__pannel-left">
            <span><i class="fas fa-users"></i><p>Travailler en équipes</p></span>
            <span><i class="fas fa-comments"></i><p>Faciliter l'échange entre collègues</p></span>
            <span><i class="fas fa-search"></i><p>Retrouver facilement vos ressources</p></span>
        </div>
        <div class="side-pannel home__pannel-right">
            <form class="" action="{{ path('homepage') }}" method="post">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre email">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <button type="submit" class="btn btn-primary">Se Connecter</button>
            </form>
        </div>
        {% endif %}
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <p>© 2018 - PyouPyou, un projet étudiant dans le cadre du cours de Framework PHP (Symfony) avec Gabriel Pillet à Lyon Ynov Campus - Développé par Antinéa GOUTARD && Julien SEIXAS</p>
        </footer>
    {% endblock %}
</main>
{% endblock %}
