{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<ul class="ca bow box afo">
    
    {% for user in results['User'] %}
        <li class="rv b agz">
            <img
                    class="bos vb yb aff"
                    src="assets/img/avatar-fat.jpg">
            <div class="rw">
                <div class="bpd">
                    <div class="bpb">
                        <small class="acx axc">{{ user.username|e }}</small>
                        <h6>{{ user.firstname }} {{ user.lastname }}</h6>
                    </div>
                </div>
            </div>
        </li>
        <li></li>
    {% endfor %}

</ul>
{% endblock %}
